/************************************************
BOTÃO LUMINOSO
************************************************/

.btn-dark {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-decoration: none;
    font-size: 30px;
    overflow: hidden;
    transition: 0.2s;
    background-color: #262b30;
    border: 3px solid #E74D3C;
}

.btn-dark:visited {
    color: #B9ACAC;
}

.btn-dark:hover {
    color: #050f1a;
    background: #FFC868;
    box-shadow: 0 0 10px #FFC868, 0 0 40px #FFC868, 0 0 80px #FFC868;
    transition-delay: 600ms;
    border: 3px solid #FFC868;
}

.btn-dark span {
    position: absolute;
    display: block;
}

.btn-modal {
    background-color: #262b30;
    border: 3px solid #E74D3C;
    border-radius: 11px;
    width: 1126px;
    margin-inline: 37px;
}

a {
    position: relative;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 45px;
    overflow: hidden;
    transition: 0.2s;
    width: 100%;
    height: 100%;
    color: #B9ACAC;
}

a:hover {
    color: #050f1a;
    background: #FFC868;
    border-radius: 3px;
    box-shadow: 0 0 10px #FFC868, 0 0 40px #FFC868, 0 0 80px #FFC868;
    transition-delay: 600ms;
}

a span {
    position: absolute;
    display: block;
}

/************************************************
TOP NEON
************************************************/
a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFC868);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 600ms;
}

/************************************************
NEON INFERIOR
************************************************/
a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFC868);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 250ms;
}

/************************************************
NEON DIREITO
************************************************/
a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFC868);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 100ms;
}

/************************************************
NEON ESQUERDO
************************************************/
a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFC868);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 450ms;
}


/*********************************************************************/
/*************************** botões on e off *************************/
/*********************************************************************/

.menu-container {
    position: fixed;
    bottom: 0;
    left: 235px;
    overflow: hidden;
    transition: height 0.3s ease;
    border-radius: 5px;
    margin: 15px;
}

.menu-toggle {
    display: block;
    height: auto;
    background-color: #333;
    border: 2px solid #333333;
    color: #B9ACAC;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    font-size: 35px;
}

.row {
    --bs-gutter-x: 0;
}

.menu-body {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: #333;
    border: 2px solid #333333;
}

.menu-body.open {
    height: auto;
}

.legenda {
    font-size: 24px;
    color: #B9ACAC;
}

.onoff input.toggle {
    display: none;
}

.onoff input.toggle+label {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 32px;
    border-radius: 30px;
}

.onoff input.toggle+label:before {
    content: "";
    display: block;
    height: 100px;
    border-radius: 30px;
    transition: 0.1s ease-in-out;
    background-color: #707070;
    box-shadow: 4px 8px 15px black;
}

.onoff input.toggle+label:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    top: 68px;
    left: 0px;
    border-radius: 30px;
    background: #fff;
    transition: 0.1s ease-in-out;
    box-shadow: 3px 5px 15px black;
}

.onoff input.toggle:checked+label::before {
    width: 30px;
    background: #F5866C;
}

.onoff input.toggle:checked+label::after {
    top: 0px;
    box-shadow: 1px 3px 10px black;
}

/*********************************************************************/
/***************************** Estilo modal **************************/
/*********************************************************************/

.modal-header {
    border-bottom: none;
    box-shadow: 3px 5px 15px black;
}

.modal-title {
    font-size: 35px;
}

.modal-content {
    background-color: #333;
    color: #B9ACAC;
}

.modal-body {
    border-bottom: none;
    box-shadow: 3px 5px 15px black;
}

.btn-secondary{
    background-color: #333 !important;
    border: none;
}

.btn-ambiente{
    font-size: 35px;
    color: #B9ACAC;
    text-align: left;
}

.btn-ambiente:hover{
   transform: scale(1.1);
}

.title-todas{
    font-size: 25px;
}

.fundo-btn-modal {
	background-color: #404040;
	padding: 20px;
}

.modal-footer {
    border-top: none;
}

/*********************************************************************/
/***************************** Estilo resize *************************/
/*********************************************************************/

.conteudo {
    width: 1920px;
    height: 1080px;
    position: fixed;
    left: calc(50% - 1920px / 2);
    top: calc(50% - 1080px / 2);
    margin: auto;
    font-family: 'Century Gothic', sans-serif;
    color: #B9ACAC;
}

/**********************************************************************/
/***************************** vire o celular *************************/
/**********************************************************************/

.p-paisagem {
    color: white;
    text-align: center;
}

.img-paisagem {
    max-width: 70% !important;
    height: auto;
    display: block;
}

@media only screen and (orientation: portrait) {
    .modo-smart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #7c88e7;
        z-index: 9999999999999999999;
    }


}